<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/jquery-3.1.1.js"></script>
</head>
<body>
	<h3 class=""><%= name %></h3>
	<div class="blog-add">
		<div class="blog-textarea">
			<textarea class="textarea-add" cols="30" rows="10"></textarea>
		</div>
		<p class="blog-action">
			<a class="btn-publish" href="javascript:;">发布</a>
		</p>
	</div>
	<div class="blog">
		<ul class="blog-list">
			<% for(var i=0; i<content.length; i++) { %>
				<li class="blog-item">
					<p class="blog-content"> <%= content[i].content %> </p>
					<p class="blog-extra">
						<span class="date"> <%= content[i].date %> </span>
						<a href="javascript:;" class="delete" data-content="<%= content[i].content %>">删除</a>
						<a href="javascript:;" class="update" data-content="<%= content[i].content %>">更新</a>
					</p>
				</li>
			<% } %>
		</ul>
	</div>
</body>
<script type="text/javascript" src="/javascripts/index.js"></script>
</html>