<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
  <h3 class=""><%= name %></h3>
	<div class="blog-add">
		<div class="blog-textarea">
			<textarea class="textarea-add" cols="30" rows="10"></textarea>
		</div>
		<p class="blog-action">
			<a class="btn-update" href="javascript:;">更新</a>
		</p>
	</div>
</body>

</html>